.baseLayout {
  @apply grid
    h-max
    min-h-full
    w-full
    grid-cols-[1fr]
    grid-rows-[auto_1fr_auto];
}

.homeLayout {
  @apply justify-center
  align-middle;
}

.pageLayout {
  @apply flex
  min-h-full;

  .mainContent {
    @apply px-10
    pt-10
    flex-1;
  }
}

.blogLayout {
  @apply bg-gradient-to-t
  flex
  w-full
  justify-center;

  .blogLayoutMain {
    @apply max-w-5xl
    gap-4
    px-4
    py-12
    md:px-14
    lg:px-28
  }
}

.postLayout {
  @apply flex
  justify-center
  w-full
  px-3.5
  py-7;
}

.centerLayout {
  @apply flex
  w-full
  min-w-0
  items-center
  justify-center
  px-4
  py-14
  md:px-14
  lg:px-28;
}

.aboutLayout {
  @apply flex
  w-full
  min-w-0
  items-center
  justify-center
  flex-col
  relative;

  .downloadLink {
    @apply absolute
    bottom-2
    rounded
    border-solid
    border-2
    px-4
    py-2
    ;
  }
}